 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1240px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: 60px auto 0 30px;
}

.u-section-1 .u-image-1 {
  height: 394px;
  width: 394px;
  background-image: url("images/Download.png");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -8px auto 0 120px;
}

.u-section-1 .u-image-2 {
  height: 310px;
  width: 310px;
  background-image: url("images/bbbf863059663cc6b152bff638a4ca9cb1b4d5507f0da3f93806033067944aa89279c31bb2ebb44140d84316fb7fbac1f471e2971e802004c42359_1280.jpg");
  background-position: 50% 50%;
  margin: -64px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Ubuntu, sans-serif;
  margin: -777px -1px 0 302px;
}

.u-section-1 .u-group-1 {
  width: 527px;
  min-height: 485px;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 226px 43px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  margin: 28px auto 0 0;
  padding: 11px 44px 11px 42px;
}

.u-section-1 .u-shape-2 {
  width: 147px;
  height: 147px;
  margin: 72px auto 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1068px;
  }

  .u-section-1 .u-shape-1 {
    width: 193px;
    height: 193px;
    margin-top: 38px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 383px;
    width: 383px;
    margin-top: 54px;
    margin-left: 64px;
  }

  .u-section-1 .u-image-2 {
    height: 273px;
    width: 273px;
    margin-top: -60px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -806px;
    margin-left: 202px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    min-height: 518px;
    margin-top: 144px;
    margin-right: -19px;
  }

  .u-section-1 .u-shape-2 {
    width: 118px;
    height: 118px;
    margin-top: 124px;
    margin-bottom: 24px;
    margin-left: 371px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 23px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
    width: 272px;
    margin-top: -22px;
    margin-left: 157px;
  }

  .u-section-1 .u-image-2 {
    height: 229px;
    width: 229px;
    margin-top: -109px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    margin-top: -563px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 446px;
    min-height: 498px;
    margin-top: 408px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -316px;
    margin-bottom: 60px;
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1251px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 104px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-1 {
    height: 321px;
    width: 321px;
    margin-top: -33px;
    margin-right: 32px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -135px;
    margin-left: 41px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
    margin-top: -518px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -651px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-shape-1 {
    width: 134px;
    height: 134px;
    margin-top: 21px;
    margin-left: 28px;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    height: 287px;
    margin-top: -14px;
    margin-right: 0;
    margin-left: 68px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
    width: 200px;
    margin-top: -53px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.75rem;
    margin-top: -626px;
  }

  .u-section-1 .u-group-1 {
    min-height: 595px;
    margin-top: 604px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 15px 20px;
  }

  .u-section-1 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: -721px;
    margin-bottom: 572px;
  }
}